In [13]:
import pandas as pd
import numpy as np
import os

In [14]:
pd.__version__

'2.2.2'

In [15]:
os.system("curl -O https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

0

In [72]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [73]:
len(df)

9704

In [74]:
df.shape

(9704, 11)

In [75]:
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [76]:
len(df['fuel_type'].unique())

2

In [77]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [78]:
df[df["origin"]=="Asia"]["fuel_efficiency_mpg"].max()

23.759122836520497

In [79]:
print("median: " ,df["horsepower"].median())
print("mode: ",df["horsepower"].mode())
df.fillna({"horsepower":df["horsepower"].mode()[0]},inplace=True)
print("median: " ,df["horsepower"].median())

median:  149.0
mode:  0    152.0
Name: horsepower, dtype: float64
median:  152.0

In [142]:
df1=df[df["origin"]=="Asia"]

In [143]:
x=df1[['vehicle_weight','model_year']].head(7).to_numpy()
print(x)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [144]:
xt=x.transpose()
print(xt)

[[2714.21930965 2783.86897424 3582.68736772 2231.8081416  2659.43145076
  2844.22753389 3761.99403819]
 [2016.         2010.         2007.         2011.         2016.
  2014.         2019.        ]]

In [145]:
xtx=xt.dot(x)
print(xtx)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [146]:
xtx=np.linalg.inv(xtx)
print(xtx)

[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [147]:
y=np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [148]:
w=(xtx.dot(xt)).dot(y)
print(w)

[0.01386421 0.5049067 ]

In [149]:
print(np.sum(w))

0.5187709081074016